{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Carousel Start -->
 <div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src=" {% static 'img/carousel-1.jpg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <i class="fa fa-home fa-4x text-primary mb-4 d-none d-sm-block"></i>
                        <h1 class="display-2 text-uppercase text-white mb-md-4"> V3 CONSTRUISEZ VOTRE MAISON DE RÊVE AVEC NOUS</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Soumission</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <i class="fa fa-tools fa-4x text-primary mb-4 d-none d-sm-block"></i>
                        <h1 class="display-2 text-uppercase text-white mb-md-4">Nous sommes dignes de confiance pour votre projet</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Soumission</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Carousel End -->


<!-- Services Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-4">Nos <span class="text-primary">Services</span></h1>
    </div>
    <div class="row g-5">
    {% for service in services %}
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-white d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="{{service.image.url}}" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-building text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">{{service.name}}</h4>
                    <p>{{service.description}}</p>
                    <a class="btn text-primary" href="/service/{{service.id}}">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- Services End -->



<!-- Appointment Start -->
<div id="soumission" class="container-fluid py-6 px-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-4">
                <h1 class="display-5 text-uppercase mb-4">Request A <span class="text-primary">Call Back</span></h1>
            </div>
            <p class="mb-5">Nonumy ipsum amet tempor takimata vero ea elitr. Diam diam ut et eos duo duo sed. Lorem elitr sadipscing eos et ut et stet justo, sit dolore et voluptua labore. Ipsum erat et ea ipsum magna sadipscing lorem. Sit lorem sea sanctus eos. Sanctus sit tempor dolores ipsum stet justo sit erat ea, sed diam sanctus takimata sit. Et at voluptua amet erat justo amet ea ipsum eos, eirmod accusam sea sed ipsum kasd ut.</p>
            <a class="btn btn-primary py-3 px-5" href="">Get A Quote</a>
        </div>
        <div class="col-lg-8">
            <div class="bg-light text-center p-5">
                <form class="form" method="POST" action="" >
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            {{ form.name }}
                            
                        </div>
                        <div class="col-12 col-sm-6">
                            {{ form.email }}
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="date" id="date" data-target-input="nearest">
                                {{ form.date}}
                                
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="time" id="time" data-target-input="nearest">
                                {{ form.time }}
                            </div>
                        </div>
                        <div class="col-12">
                           
                            {{ form.message }}
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit Request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->


{% endblock %}